<div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#home-collapse" aria-expanded="true">
                Gestion des données
            </button>
            <div class="collapse show" id="home-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="/user" class="link-dark rounded">Utilisateurs</a></li>
                </ul>
            </div>
            <div class="collapse show" id="home-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="/sensor" class="link-dark rounded">Capteurs</a></li>
                </ul>
            </div>
        </li>
    </ul>
    {{!--
    <ul class="mm-show" id="metismenu">
        <li class="mm-active">
            <a href="#" aria-expanded="true">Menu 1</a>
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small mm-collapse mm-show" aria-expanded="false">
                <li><a href="/user" class="link-dark rounded">Utilisateurs</a></li>
            </ul>
        </li>
        <li>
            <a href="#" aria-expanded="false">Menu 2</a>
            <ul>
                ...
            </ul>
        </li>
        ...
    </ul> --}}
</div>